<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyz.appdaigreja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mylittlechurch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mylittlechurch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.PrincipalActivity" />
        <activity android:name=".Activity.CadastroUsuarioActivity" />
        <activity android:name=".Activity.CadastroMembros" />
        <activity android:name=".Activity.CadastroLocais" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".Activity.MembrosActivity" />
        <activity android:name=".Activity.LocaisActivity" />
        <activity android:name=".Activity.JsonActivity" />
        <activity android:name=".Activity.PostJsonActivity"></activity>
    </application>

</manifest>